name: Run tests

on:
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: ALLURE_JOB_RUN_ID service parameter. Leave blank.
      ALLURE_USERNAME:
        description: ALLURE_USERNAME service parameter. Leave blank.

env:
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
  ALLURE_ENDPOINT: https://testing.testops.cloud/
  ALLURE_PROJECT_ID: 11844
  ALLURE_RESULTS: allure-results
  ALLURE_LAUNCH_TAGS: Tag 1
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Update package lists
      run: sudo apt-get update -y

    - name: Install missing dependencies
      run: |
        sudo add-apt-repository universe -y
        sudo add-apt-repository multiverse -y
        sudo apt-get update -y

    - name: Install framework dependencies
      run: |
        python -m pip install --upgrade pip
        pip install allure-pytest

    - name: Install and configure allurectl using GH Action
      uses: allure-framework/setup-allurectl@v1
      with:
        allure-endpoint: ${{ env.ALLURE_ENDPOINT }}
        allure-token: ${{ secrets.ALLURE_TOKEN }}
        allure-project-id: ${{ env.ALLURE_PROJECT_ID }}

    - name: Run tests with Allure
      run: allurectl watch --job-run-id $ALLURE_JOB_RUN_ID --launch-id 209501 -- pytest --alluredir=${{ env.ALLURE_RESULTS }} --clean-alluredir
        
